
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

.pages-home {
  height: 100vh;
  margin: 0 auto;
  font-size: 30px;
  background-image: url("./../../img/bg.png");
}

.pages-home ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.content {
  padding: 0 4%;
}

.booklist {
  margin: 16px;
  margin-top: 30px;
  list-style-type: none;
  padding: 20px;
  font-size: .7em;
  background: white;
  width: 23%;
  border-radius: 4px;
  -webkit-box-shadow: 3px 5px 10px 0px rgba(150,150,150,0.33); 
  box-shadow: 3px 5px 10px 0px rgba(150,150,150,0.33);
}

.cardbook {
  display: flex;
  flex-direction: row;
}

.cardbook__right {
  margin-left: 20px;
  font-family: 'Heebo', sans-serif;
  line-height: 1.2em; 
}

.bookcover {
  width: 100px;
}

.logo {
  width: 160px;
}

.title {
  font-weight: bold;
  font-size: .8em;
}

.authors, 
.pageCount, 
.publisher, 
.published {
  font-size: .7em;
}

.authors {
  color: #AB2680;
  margin-top: 4px;
  margin-bottom: 20px;
}

.pageCount,
.publisher, 
.published {
  color: #999999;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2% 7%;
  padding-bottom: 0;
}

.header__left,
.header__right {
  display: flex;
  align-items: center;
}

.bookstitle {
  width: 110px;
  margin-left: 26px;
}

.user__greeting {
  font-size: .5em;
}

.user__greeting span:nth-child(2) {
  font-weight: bold;
  margin-left: 3px;
}

.logoutimg {
  cursor: pointer;
  border-radius: 70px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  margin-left: 16px;
  width: 35px;
  padding: 4px;
}

li.page-item {
  list-style-type: none;
}

.paginationBar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 5%;
  right: 5%;
  font-size: .5em;
  font-family: 'Heebo', sans-serif;
}

.paginationBar span {
  display: flex;
  align-items: center;
}

.nextBtn,
.prevBtn {
  border-radius: 80px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  width: 36px;
  margin-left: 16px;
  display: flex;
}

.nextBtn img,
.prevBtn img {
  margin: 0 auto;
  margin-right: 13px;
  padding: 9px 0px;
  width: 9px;
  height: 34px;
}

@media all and (max-width: 1366px) {
  .booklist {
    width: 22%;
    font-size: .5em;
    margin: 14px;
    margin-top: 0;
    padding: 12px;
  }
  .pages-home .content {
    margin-top: -10px;
  }
  .paginationBar {
    bottom: 2%;
  }
  .bookcover {
    width: 77px;
  }
}

@media all and (max-width: 480px) {
  .booklist {
    width: 100%;
  }
  .pages-home ul {
    padding: 0;
  }
  .header__left {
    transform: scale(.8);
  }
  .header {
    padding: 3% 0;
    padding-right: 15%;
    padding-bottom: 0;
  }
  .paginationBar {
    background-image: url("./../../img/bg.png");
    width: 100%;
    margin: 0;
    padding: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    left: -10px;
    height: 50px;
  }

  .prevBtn {
    order: 1;
  }
  .paginationBar span {
    order: 2;
    margin-left: 10px;
  }
  .nextBtn {
    order: 3;
  }
}